
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>About Climb Find</h1>
        <p>
          Climbing mission statement about learning how to climb is healthy and offers super valuable life lessons and goals and friendships and passions.  Our mission in the outdoors about the connection to the environment and healthy outdoor stuff.  Super valuable and healthy also.  Physically a good workout and keeps your body fit plus something about how engaging it is mentally. Strong mind, overcoming fear and stuff.
        </p>
        <p>
          Find a perfect climbing partner here so that you can go on totally awesome, spectacular adventures that you never thought you'd do.  Or just meet cool people that like the same things you do about climbing, trad climbing, sport climbing or bouldering.
        </p>
      </div>
    </div>
  </div>
</div>
