<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <img id="photo" src="{{(climberToDisplay | async)?.photo}}">
        <h3><strong>Name: {{(climberToDisplay | async)?.firstname}} {{(climberToDisplay | async)?.lastname}}</strong></h3>
        <h4>Level: <em>{{(climberToDisplay | async)?.experience}}</em></h4>
        <h4>Bio: <em>{{(climberToDisplay | async)?.bio}}</em></h4>
        <h4>Lives: <em>{{(climberToDisplay | async)?.residence}}</em></h4>
        <h4>Favorite discipline: <em>{{(climberToDisplay | async)?.type}}</em></h4>
        <h4>Favorite locations: <em>{{(climberToDisplay | async)?.crag}}</em></h4>
        <h4>Contact Info: <em>{{(climberToDisplay | async)?.contact}}</em></h4>
      </div>
    </div>
  </div>
</div>
